$mat-rappi: (
    50 : #feeeee,
    100 : #fcd4d6,
    200 : #fbb8ba,
    300 : #f99c9e,
    400 : #f7868a,
    500 : #f67175,
    600 : #f5696d,
    700 : #f35e62,
    800 : #f25458,
    900 : #ef4245,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdadb,
    A700 : #ffc1c2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-rappi-acent: (
    50 : #e4f8f3,
    100 : #bceee2,
    200 : #90e2cf,
    300 : #64d6bc,
    400 : #42cead,
    500 : #21c59f,
    600 : #1dbf97,
    700 : #18b88d,
    800 : #14b083,
    900 : #0ba372,
    A100 : #d1ffef,
    A200 : #9effdc,
    A400 : #6bffca,
    A700 : #51ffc1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-rappi-foreground: (
  base:              #333333,
  divider:           #333333,
  dividers:          #333333,
  disabled:          #9faab7,
  disabled-button:   #9faab7,
  disabled-text:     #9faab7,
  hint-text:         #333333,
  secondary-text:    #333333,
  icon:              #ffffff,
  icons:             #ffffff,
  text:              #333333,
  slider-min:        #333333,
  slider-off:        #333333,
  slider-off-active: #333333,
);
