@import '~@angular/material/theming';
@import 'styles/palette';

@include mat-core();

$rappi-app-primary: mat-palette($mat-rappi);
$rappi-app-accent:  mat-palette($mat-rappi-acent);
$rappi-app-warn:    mat-palette($mat-red);

$rappi-app-theme: mat-light-theme($rappi-app-primary, $rappi-app-accent, $rappi-app-warn);
$rappi-app-theme: map_merge($rappi-app-theme, (foreground: $mat-rappi-foreground));

@include angular-material-theme($rappi-app-theme);
