$text = #333
$text-grey = #7d7d7d
$text-grey-light = #9faab7

body, html
  margin 0
  width 100%
  height 100%
  overflow hidden
  font-family 'Roboto'
  font-size 14px
  color $text

  aside
    border-right 1px solid #eaeaea
    box-shadow inset -1px 0px 2px -1px rgba(0,0,0,0.1)

.full-height
  height 100%

.root-container
  overflow-y auto

.rappi-text
  color #f67175
  font-weight 500
